/*
 * Globals
 */


@font-face {
  font-family: 'Manteka';
  src: url('../fonts/Manteka.eot?#iefix') format('embedded-opentype'),  
  url('..fonts/Manteka.woff') format('woff'), 
  url('..fonts/Manteka.ttf')  format('truetype'), 
  url('..fonts/Manteka.svg#Manteka') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Corporate-Logo-Medium';
  src: url('../fonts/Corporate-Logo-Medium.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/Corporate-Logo-Medium.woff') format('woff'), 
  url('../fonts/Corporate-Logo-Medium.ttf')  format('truetype'), 
  url('../fonts/Corporate-Logo-Medium.svg#Corporate-Logo-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NexaLight';
  src: url('../fonts/NexaLight.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/NexaLight.otf')  format('opentype'),
  url('../fonts/NexaLight.woff') format('woff'), 
  url('../fonts/NexaLight.ttf')  format('truetype'), 
  url('../fonts/NexaLight.svg#NexaLight') format('svg');
  font-weight: normal;
  font-style: normal;
}





/* Links */
a,
a:focus,
a:hover {
  color: #fff;

}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

  ::-moz-selection { /* Code for Firefox */
    color: #fff;
    background: #3a3232;
}

::selection {
    color: #fff;
    background: #3a3232;
}

html,
body {
  height: 100%;
  background-color: #ededd7;
}
body {
  color: #3a3232;
  text-align: center;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
  background-image: url(../img/cover.png);
  background-repeat: no-repeat;
  background-position: center;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 20px;
}


/*
 * Navbar
 */



.navbar-default {
  background: transparent;
  border-radius: 0;
  border: 0;
}

.navbar-default .navbar-nav>li>a {
  font-size: 20px;
  color: #3a3232;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  color: #0fecaf;
  -webkit-transition: color 0.2s ease-in;
  -moz-transition: color 0.2s ease-in;
  -ms-transition: color 0.2s ease-in;
  -o-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}




.dropdown-menu {
  background-color: #3a3232;
}

.dropdown-menu>li>a {
  color: #7c7c7c;
  font-weight: normal;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
  color: #fff;
  background-color: #494949;
}

.cover-heading {
  font-family: 'Quantico', sans-serif;
  font-size: 60px;
}

.cover-jap {
  font-family: 'Corporate-Logo-Medium';
  font-size: 24px;
}

.cover-issue {
  font-family: 'NexaLight';
  font-size: 18px;
  letter-spacing: 2px;
}

.byline {
  color: #3a3232;
  font-family: 'NexaLight';
  text-transform: uppercase;
}

.cover .btn-lg:hover,
.cover .btn-lg:focus {
  color: #0fecaf;
  border-color: #0fecaf;
  -webkit-transition: color 0.2s ease-in;
  -moz-transition: color 0.2s ease-in;
  -ms-transition: color 0.2s ease-in;
  -o-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
  box-shadow: none;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  font-family: 'Quantico', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  background-color: transparent;
  border-color:#3a3232; 
  border-radius: 0px;
  border-width: 2px;
  padding: 10px 30px;
  font-weight: bold;
}

.gradient {
  background: -webkit-linear-gradient(#0ad8e5, #6bf174);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}